$font: 'OpenSansRegular';
$fontSemiBold: 'OpenSansSemiBold';
$fontBold: 'OpenSansBold';
$fontLight: 'OpenSansLight';
$fontLato: 'Lato', $font;


$defaultBg : #f5f5f7;

$ok: #2fc2a5;
$ko: #ED6546;
$koLight: #fee4df;
$alertText: #ffffff;

//http://www.colourlovers.com/palette/3640986/en_la_luz_del_cielo.
$paletteBg: #128B80;

$backgroundMenu : linear-gradient(to top, rgb(88, 21, 40) 0%, rgb(195, 54, 54) 100%);
$borderMenu : rgb(154, 169, 80);