$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
@import 'palette';

body{
  font-family: $font;
  color: #fff;
  text-shadow: 0 0 3px rgba(255,255,255,0.4);
}

.centered{
  margin: auto;
  //position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

img{
  max-height: 100%;
  max-width: 100%;
}

@import 'mixins';
@import 'fonts';
@import 'modules/columns';
@import 'modules/page';
@import 'modules/menu';
@import 'modules/social';
@import 'modules/book';
@import 'external/animate';