.page{
  position: relative;

  .background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    height: 100vh;
  }

  .content{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    height: 100vh;
    padding-left: 100px;
    overflow-y: scroll;
    .page-title{
      padding-top: 40px;
      font-size: 20px;
      padding-bottom: 20px;
    }
    .page-content{
      text-align: left;
      padding: 40px;
      text-shadow: none;
      background: rgba(0, 0, 0, 0.4);
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .jumbotron{
    background: transparent;
    color : white;
  }
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}