.share-buttons {
  text-align: center;
  
  .buttons-container{
    text-shadow: none;
    text-align: center;
  }
  .share-button{
    display: block;
    font-size: 30px;

    &.twitter{
      color: #54ACEC;
    }
    &.facebook{
      color: #3F5C9A;
    }
    &.google-plus{
      color: #DD4B39;
    }

    &.linkedin{
      color : #1582BB;
    }
    &.github{
      color : black;
    }
    &.instagram{
      color : #D8D8D8
    }
  }
  &.animated{
    animation-delay : 1800ms;
  }
}